// VARIABLES
$nbr-columns: 12;

$nbr-columns-plus1: 13;

$s: 576px;

$m: 768px;

$l: 992px;

$xl: 1200px;

// CONTAINER
.container {
    display: grid;
    grid-template-columns: repeat($nbr-columns, 1fr);
    grid-auto-rows: auto;
    gap: 10px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    
    @media screen and (max-width: $s) {
        max-width: auto;
    }

    @media screen and (min-width: $s) {
        max-width: auto;
    }

    @media screen and (min-width: $m) {
        max-width: 720px;
    }

    @media screen and (min-width: $l) {
        max-width: 960px;
    }

    @media screen and (min-width: $xl) {
        max-width: 1140px;
    }
}

.container-fluid {
    display: grid;
    grid-template-columns: repeat($nbr-columns, 1fr);
    grid-auto-rows: auto;
    width: 100%;
}

.container-back {
    background-color: $light-grey;
    width: 100%;
}

// GRILLE

@for $i from 1 through $nbr-columns-plus1 {
    .col-start-#{$i} { grid-column-start: $i; }
    .col-end-#{$i} { grid-column-end: $i; }
}

@media screen and (min-width: $s) {
    @for $i from 1 through $nbr-columns-plus1 {
        .col-s-start-#{$i} { grid-column-start: $i; }
        .col-s-end-#{$i} { grid-column-end: $i; }
    }    
}

@media screen and (min-width: $m) {
    @for $i from 1 through $nbr-columns-plus1 {
        .col-m-start-#{$i} { grid-column-start: $i; }
        .col-m-end-#{$i} { grid-column-end: $i; }
    }    
}

@media screen and (min-width: $l) {
    @for $i from 1 through $nbr-columns-plus1 {
        .col-l-start-#{$i} { grid-column-start: $i; }
        .col-l-end-#{$i} { grid-column-end: $i; }
    }    
}

@media screen and (min-width: $xl) {
    @for $i from 1 through $nbr-columns-plus1 {
        .col-xl-start-#{$i} { grid-column-start: $i; }
        .col-xl-end-#{$i} { grid-column-end: $i; }
    }    
}