// Logo

.logo {
    width:50px; 
    height: 72px;
    @media screen and (max-width: 350px) {
        display: none; 
    }
}

// ICONS
.icon-s {
    width: 20px; 
    height: 20px;
}

.icon-m {
    width: 30px; 
    height: 30px;
}


.icon-l{
    width: 40px; 
    height: 40px;
}

//buttons
button {
    border-radius: 20px;
    border-style: none;
    padding : 10px 15px 10px 15px;
    background-color: $primary;
    color: white;
}

button:hover {
    background-color: #12bb4a;
    color: white;
}

.btn-new {
    position: absolute; 
    right: 15px; 
    top: 40%;
    @media screen and (max-width: $m) {
        position: static;    
        margin-top: 10px;
    }
}

.btn-startgame {
    font-size: 1.2em;
    margin-top: 5px;
    margin-bottom: 10px;
}

// Avatar
.avatar {
    width : 200px;
    @media screen and (max-width: $m) {
        width: 170px;
    }
    @media screen and (max-width: 415px) {
        width: 100px;
    }
    @media screen and (max-width: 315px) {
        width: 80px;
    }
}

//dé
.des {
    background-color: white; 
    width:100px; 
    height: 100px; 
    margin: 0 auto; 
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 7px 7px 7px #0f4d24;
}

.imageDice {
    border-radius: 10px;
    max-width: 100px;
}

#dice {
    position: relative;
    @media screen and (max-width: 550px) {
        width: 90%; 
        margin-bottom: 5px;
    }
}

#diceImage {
    background-size: cover;
}

// cursor 
.triangle {
display : inline-block;
height : 10px;
width : 10px;
top: 18px;  
border-top : 12px solid transparent;
border-bottom : 12px solid transparent;
position: absolute;    
    @media screen and (max-width: 550px) {
        transform : rotate(90deg);
        top: -25px;
    }
}

.triangle1 { 
    border-right : 20px solid $primary;
    left: -22px;
    @media screen and (max-width: 550px) {
        left: 20%;
    }
    }

.triangle2 { 
    border-left : 20px solid $primary;
    right : -22px;
    @media screen and (max-width: 550px) {
        border-left : none;
        border-right : 20px solid $primary;
        right: 20%;
    }    
 }

.thumbnail {
    width: 50px;
    border-radius: 50%
}

// Winner image

.couronne {
    width: 150px;
}