header {
    background-color: black;
    padding : 15px 10px 35px 10px;
    text-align: center;
    color: white;
    height: 20vh;
    @media screen and (max-height: 730px) {
        height: auto;
    }
    @media screen and (max-width: 550px) {
        padding : 0px;
    }
}

// Pregame

.pregame {
    margin: 10px 10px 30px 10px;
    width: 80%;
    height: 100%; 
    max-width: 350px;
    max-height: 580px;
    background-color: white;  
    border-radius : 30px;   
    @media screen and (max-width: 350px) {
        max-height: max-content;
    }
} 

.error {
    color: #760707; 
    background-color: #f7d3d3;
    padding : 15px;
}

// Game

.game {
    height:80vh;    
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    @media screen and (max-height: 730px) {
        min-height: 100vh;
    }
}

.screens {  
    @media screen and (max-width: 550px) {
        flex-wrap: wrap;
    }
}

.screen {
    width: 50%;
    padding: 5px;
    margin-bottom: 5px;
    @media screen and (max-width: 415px) {
        width: 40%; 
    }
}

.poulet-section {
    background-color: white; 
    padding:10px; 
    margin-top:5px; 
    border-radius : 30px;
}

.interactive-game {
    position: absolute; 
    width: 100%; 
    top: 30%; 
    text-align: center;
    @media screen and (max-width: 550px) {
        position:sticky; 
        width: 100%; 
        text-align: center;
    }
}

.total-player {
    color: white;
    font-size: 4em;
    text-align: center;
    background-color:black;
    border-radius : 20px;
    background: linear-gradient(180deg, rgba(33,99,64,1) 50%, rgba(9,9,9,1) 100%);
    @media screen and (max-width: $m) {
        font-size: 3em;
    }
    @media screen and (max-width: $s) {
        font-size: 2.4em;
    }
}

// Winner Modal

.winner {
    background : rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
}
.winner-modal {
    margin : 30px;
    background-color: white;
    border-radius: 15px;
    padding:15px;
}

// 404 
.404 {
    height: 100vh; 
    background-color: black; 
}