* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;
}

@media screen and (max-height: 730px) {
  body {
    height: auto;
  }
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: auto;
  gap: 10px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 576px) {
  .container {
    max-width: auto;
  }
}

@media screen and (min-width: 576px) {
  .container {
    max-width: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.container-fluid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: auto;
  width: 100%;
}

.container-back {
  background-color: #EBEBE9;
  width: 100%;
}

.col-start-1 {
  -ms-grid-column: 1;
      grid-column-start: 1;
}

.col-end-1 {
  grid-column-end: 1;
}

.col-start-2 {
  -ms-grid-column: 2;
      grid-column-start: 2;
}

.col-end-2 {
  grid-column-end: 2;
}

.col-start-3 {
  -ms-grid-column: 3;
      grid-column-start: 3;
}

.col-end-3 {
  grid-column-end: 3;
}

.col-start-4 {
  -ms-grid-column: 4;
      grid-column-start: 4;
}

.col-end-4 {
  grid-column-end: 4;
}

.col-start-5 {
  -ms-grid-column: 5;
      grid-column-start: 5;
}

.col-end-5 {
  grid-column-end: 5;
}

.col-start-6 {
  -ms-grid-column: 6;
      grid-column-start: 6;
}

.col-end-6 {
  grid-column-end: 6;
}

.col-start-7 {
  -ms-grid-column: 7;
      grid-column-start: 7;
}

.col-end-7 {
  grid-column-end: 7;
}

.col-start-8 {
  -ms-grid-column: 8;
      grid-column-start: 8;
}

.col-end-8 {
  grid-column-end: 8;
}

.col-start-9 {
  -ms-grid-column: 9;
      grid-column-start: 9;
}

.col-end-9 {
  grid-column-end: 9;
}

.col-start-10 {
  -ms-grid-column: 10;
      grid-column-start: 10;
}

.col-end-10 {
  grid-column-end: 10;
}

.col-start-11 {
  -ms-grid-column: 11;
      grid-column-start: 11;
}

.col-end-11 {
  grid-column-end: 11;
}

.col-start-12 {
  -ms-grid-column: 12;
      grid-column-start: 12;
}

.col-end-12 {
  grid-column-end: 12;
}

.col-start-13 {
  -ms-grid-column: 13;
      grid-column-start: 13;
}

.col-end-13 {
  grid-column-end: 13;
}

@media screen and (min-width: 576px) {
  .col-s-start-1 {
    -ms-grid-column: 1;
        grid-column-start: 1;
  }
  .col-s-end-1 {
    grid-column-end: 1;
  }
  .col-s-start-2 {
    -ms-grid-column: 2;
        grid-column-start: 2;
  }
  .col-s-end-2 {
    grid-column-end: 2;
  }
  .col-s-start-3 {
    -ms-grid-column: 3;
        grid-column-start: 3;
  }
  .col-s-end-3 {
    grid-column-end: 3;
  }
  .col-s-start-4 {
    -ms-grid-column: 4;
        grid-column-start: 4;
  }
  .col-s-end-4 {
    grid-column-end: 4;
  }
  .col-s-start-5 {
    -ms-grid-column: 5;
        grid-column-start: 5;
  }
  .col-s-end-5 {
    grid-column-end: 5;
  }
  .col-s-start-6 {
    -ms-grid-column: 6;
        grid-column-start: 6;
  }
  .col-s-end-6 {
    grid-column-end: 6;
  }
  .col-s-start-7 {
    -ms-grid-column: 7;
        grid-column-start: 7;
  }
  .col-s-end-7 {
    grid-column-end: 7;
  }
  .col-s-start-8 {
    -ms-grid-column: 8;
        grid-column-start: 8;
  }
  .col-s-end-8 {
    grid-column-end: 8;
  }
  .col-s-start-9 {
    -ms-grid-column: 9;
        grid-column-start: 9;
  }
  .col-s-end-9 {
    grid-column-end: 9;
  }
  .col-s-start-10 {
    -ms-grid-column: 10;
        grid-column-start: 10;
  }
  .col-s-end-10 {
    grid-column-end: 10;
  }
  .col-s-start-11 {
    -ms-grid-column: 11;
        grid-column-start: 11;
  }
  .col-s-end-11 {
    grid-column-end: 11;
  }
  .col-s-start-12 {
    -ms-grid-column: 12;
        grid-column-start: 12;
  }
  .col-s-end-12 {
    grid-column-end: 12;
  }
  .col-s-start-13 {
    -ms-grid-column: 13;
        grid-column-start: 13;
  }
  .col-s-end-13 {
    grid-column-end: 13;
  }
}

@media screen and (min-width: 768px) {
  .col-m-start-1 {
    -ms-grid-column: 1;
        grid-column-start: 1;
  }
  .col-m-end-1 {
    grid-column-end: 1;
  }
  .col-m-start-2 {
    -ms-grid-column: 2;
        grid-column-start: 2;
  }
  .col-m-end-2 {
    grid-column-end: 2;
  }
  .col-m-start-3 {
    -ms-grid-column: 3;
        grid-column-start: 3;
  }
  .col-m-end-3 {
    grid-column-end: 3;
  }
  .col-m-start-4 {
    -ms-grid-column: 4;
        grid-column-start: 4;
  }
  .col-m-end-4 {
    grid-column-end: 4;
  }
  .col-m-start-5 {
    -ms-grid-column: 5;
        grid-column-start: 5;
  }
  .col-m-end-5 {
    grid-column-end: 5;
  }
  .col-m-start-6 {
    -ms-grid-column: 6;
        grid-column-start: 6;
  }
  .col-m-end-6 {
    grid-column-end: 6;
  }
  .col-m-start-7 {
    -ms-grid-column: 7;
        grid-column-start: 7;
  }
  .col-m-end-7 {
    grid-column-end: 7;
  }
  .col-m-start-8 {
    -ms-grid-column: 8;
        grid-column-start: 8;
  }
  .col-m-end-8 {
    grid-column-end: 8;
  }
  .col-m-start-9 {
    -ms-grid-column: 9;
        grid-column-start: 9;
  }
  .col-m-end-9 {
    grid-column-end: 9;
  }
  .col-m-start-10 {
    -ms-grid-column: 10;
        grid-column-start: 10;
  }
  .col-m-end-10 {
    grid-column-end: 10;
  }
  .col-m-start-11 {
    -ms-grid-column: 11;
        grid-column-start: 11;
  }
  .col-m-end-11 {
    grid-column-end: 11;
  }
  .col-m-start-12 {
    -ms-grid-column: 12;
        grid-column-start: 12;
  }
  .col-m-end-12 {
    grid-column-end: 12;
  }
  .col-m-start-13 {
    -ms-grid-column: 13;
        grid-column-start: 13;
  }
  .col-m-end-13 {
    grid-column-end: 13;
  }
}

@media screen and (min-width: 992px) {
  .col-l-start-1 {
    -ms-grid-column: 1;
        grid-column-start: 1;
  }
  .col-l-end-1 {
    grid-column-end: 1;
  }
  .col-l-start-2 {
    -ms-grid-column: 2;
        grid-column-start: 2;
  }
  .col-l-end-2 {
    grid-column-end: 2;
  }
  .col-l-start-3 {
    -ms-grid-column: 3;
        grid-column-start: 3;
  }
  .col-l-end-3 {
    grid-column-end: 3;
  }
  .col-l-start-4 {
    -ms-grid-column: 4;
        grid-column-start: 4;
  }
  .col-l-end-4 {
    grid-column-end: 4;
  }
  .col-l-start-5 {
    -ms-grid-column: 5;
        grid-column-start: 5;
  }
  .col-l-end-5 {
    grid-column-end: 5;
  }
  .col-l-start-6 {
    -ms-grid-column: 6;
        grid-column-start: 6;
  }
  .col-l-end-6 {
    grid-column-end: 6;
  }
  .col-l-start-7 {
    -ms-grid-column: 7;
        grid-column-start: 7;
  }
  .col-l-end-7 {
    grid-column-end: 7;
  }
  .col-l-start-8 {
    -ms-grid-column: 8;
        grid-column-start: 8;
  }
  .col-l-end-8 {
    grid-column-end: 8;
  }
  .col-l-start-9 {
    -ms-grid-column: 9;
        grid-column-start: 9;
  }
  .col-l-end-9 {
    grid-column-end: 9;
  }
  .col-l-start-10 {
    -ms-grid-column: 10;
        grid-column-start: 10;
  }
  .col-l-end-10 {
    grid-column-end: 10;
  }
  .col-l-start-11 {
    -ms-grid-column: 11;
        grid-column-start: 11;
  }
  .col-l-end-11 {
    grid-column-end: 11;
  }
  .col-l-start-12 {
    -ms-grid-column: 12;
        grid-column-start: 12;
  }
  .col-l-end-12 {
    grid-column-end: 12;
  }
  .col-l-start-13 {
    -ms-grid-column: 13;
        grid-column-start: 13;
  }
  .col-l-end-13 {
    grid-column-end: 13;
  }
}

@media screen and (min-width: 1200px) {
  .col-xl-start-1 {
    -ms-grid-column: 1;
        grid-column-start: 1;
  }
  .col-xl-end-1 {
    grid-column-end: 1;
  }
  .col-xl-start-2 {
    -ms-grid-column: 2;
        grid-column-start: 2;
  }
  .col-xl-end-2 {
    grid-column-end: 2;
  }
  .col-xl-start-3 {
    -ms-grid-column: 3;
        grid-column-start: 3;
  }
  .col-xl-end-3 {
    grid-column-end: 3;
  }
  .col-xl-start-4 {
    -ms-grid-column: 4;
        grid-column-start: 4;
  }
  .col-xl-end-4 {
    grid-column-end: 4;
  }
  .col-xl-start-5 {
    -ms-grid-column: 5;
        grid-column-start: 5;
  }
  .col-xl-end-5 {
    grid-column-end: 5;
  }
  .col-xl-start-6 {
    -ms-grid-column: 6;
        grid-column-start: 6;
  }
  .col-xl-end-6 {
    grid-column-end: 6;
  }
  .col-xl-start-7 {
    -ms-grid-column: 7;
        grid-column-start: 7;
  }
  .col-xl-end-7 {
    grid-column-end: 7;
  }
  .col-xl-start-8 {
    -ms-grid-column: 8;
        grid-column-start: 8;
  }
  .col-xl-end-8 {
    grid-column-end: 8;
  }
  .col-xl-start-9 {
    -ms-grid-column: 9;
        grid-column-start: 9;
  }
  .col-xl-end-9 {
    grid-column-end: 9;
  }
  .col-xl-start-10 {
    -ms-grid-column: 10;
        grid-column-start: 10;
  }
  .col-xl-end-10 {
    grid-column-end: 10;
  }
  .col-xl-start-11 {
    -ms-grid-column: 11;
        grid-column-start: 11;
  }
  .col-xl-end-11 {
    grid-column-end: 11;
  }
  .col-xl-start-12 {
    -ms-grid-column: 12;
        grid-column-start: 12;
  }
  .col-xl-end-12 {
    grid-column-end: 12;
  }
  .col-xl-start-13 {
    -ms-grid-column: 13;
        grid-column-start: 13;
  }
  .col-xl-end-13 {
    grid-column-end: 13;
  }
}

h1, h2, .winnerName {
  font-family: 'Permanent Marker', cursive, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  font-size: 2.5em;
  margin: 10px;
  margin-bottom: 0px;
}

@media screen and (max-width: 420px) {
  h1 {
    font-size: 2em;
  }
}

@media screen and (max-width: 345px) {
  h1 {
    line-height: 1;
  }
}

h2 {
  font-size: 2em;
  margin: 0;
  color: #1b8a4f;
}

@media screen and (max-width: 350px) {
  h2 {
    font-size: 1.5em;
  }
}

.slogan {
  margin-left: 15px;
  margin-right: 15px;
  color: white;
  font-size: 0.8em;
}

.or {
  font-size: 1.5em;
  color: green;
}

/* HIDE RADIO */
[type=radio] {
  opacity: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
  outline: 3px solid #1b8a4f;
}

legend {
  font-weight: bold;
  font-family: 'Permanent Marker', cursive;
}

fieldset:first-child {
  margin-bottom: 15px;
}

fieldset {
  margin: 8px;
}

.winnerName {
  font-size: 3em;
}

.instructions {
  margin-bottom: 5px;
}

#recover {
  margin-top: 10px;
  margin-bottom: 10px;
}

#recover, .instructions {
  font-size: 1.3em;
}

.logo {
  width: 50px;
  height: 72px;
}

@media screen and (max-width: 450px) {
  .logo {
    display: none;
  }
}

.icon-s {
  width: 20px;
  height: 20px;
}

.icon-m {
  width: 30px;
  height: 30px;
}

.icon-l {
  width: 40px;
  height: 40px;
}

button {
  border-radius: 20px;
  border-style: none;
  padding: 10px 15px 10px 15px;
  background-color: #1b8a4f;
  color: white;
}

button:hover {
  background-color: #12bb4a;
  color: white;
}

.btn-new {
  position: absolute;
  right: 15px;
  top: 40%;
}

@media screen and (max-width: 768px) {
  .btn-new {
    position: absolute;
    top: 5px;
    right: 5px;
  }
}

.btn-startgame {
  font-size: 1.2em;
  margin-top: 5px;
  margin-bottom: 10px;
}

.avatar {
  width: 200px;
}

@media screen and (max-width: 768px) {
  .avatar {
    width: 170px;
  }
}

@media screen and (max-width: 415px) {
  .avatar {
    width: 50px;
  }
}

.des {
  background-color: white;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  margin-bottom: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 7px 7px 7px #0f4d24;
          box-shadow: 7px 7px 7px #0f4d24;
}

.imageDice {
  border-radius: 10px;
  max-width: 100px;
}

#dice {
  position: relative;
}

@media screen and (max-width: 550px) {
  #dice {
    width: 90%;
    margin-bottom: 5px;
  }
}

#diceImage {
  background-size: cover;
}

.triangle {
  display: inline-block;
  height: 10px;
  width: 10px;
  top: 18px;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  position: absolute;
}

@media screen and (max-width: 550px) {
  .triangle {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    top: -25px;
  }
}

.triangle1 {
  border-right: 20px solid #1b8a4f;
  left: -22px;
}

@media screen and (max-width: 550px) {
  .triangle1 {
    left: 20%;
  }
}

.triangle2 {
  border-left: 20px solid #1b8a4f;
  right: -22px;
}

@media screen and (max-width: 550px) {
  .triangle2 {
    border-left: none;
    border-right: 20px solid #1b8a4f;
    right: 20%;
  }
}

.thumbnail {
  width: 50px;
  border-radius: 50%;
}

.couronne {
  width: 150px;
}

header {
  background-color: black;
  padding: 15px 10px 35px 10px;
  text-align: center;
  color: white;
  height: 20vh;
}

@media screen and (max-height: 730px) {
  header {
    height: auto;
  }
}

@media screen and (max-width: 550px) {
  header {
    padding: 0px;
  }
}

.pregame {
  margin: 10px 10px 30px 10px;
  width: 80%;
  height: 100%;
  max-width: 350px;
  max-height: 580px;
  background-color: white;
  border-radius: 30px;
}

@media screen and (max-width: 350px) {
  .pregame {
    max-height: -webkit-max-content;
    max-height: -moz-max-content;
    max-height: max-content;
  }
}

.error {
  color: #760707;
  background-color: #f7d3d3;
  padding: 15px;
}

.game {
  height: 80vh;
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-height: 730px) {
  .game {
    min-height: 100vh;
  }
}

@media screen and (max-width: 550px) {
  .screens {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.screen {
  width: 50%;
  padding: 5px;
  margin-bottom: 5px;
}

@media screen and (max-width: 415px) {
  .screen {
    width: 40%;
  }
}

.poulet-section {
  background-color: white;
  padding: 10px;
  margin-top: 5px;
  border-radius: 30px;
}

.interactive-game {
  position: absolute;
  width: 100%;
  top: 30%;
  text-align: center;
}

@media screen and (max-width: 550px) {
  .interactive-game {
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    text-align: center;
  }
}

.total-player {
  color: white;
  font-size: 4em;
  text-align: center;
  background-color: black;
  border-radius: 20px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #216340), to(#090909));
  background: linear-gradient(180deg, #216340 50%, #090909 100%);
}

@media screen and (max-width: 768px) {
  .total-player {
    font-size: 3em;
  }
}

@media screen and (max-width: 576px) {
  .total-player {
    font-size: 2.4em;
  }
}

.winner {
  background: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
}

.winner-modal {
  margin: 30px;
  background-color: white;
  border-radius: 15px;
  padding: 15px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justifycontent-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.alignitems-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-wrap-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.textalign-center {
  text-align: center;
}

.li-display-inline {
  display: inline;
  padding-left: 10px;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

@media screen and (max-width: 768px) {
  .container-padding {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.padding-top-row {
  padding-top: 40px;
}

.padding-bottom-row {
  padding-bottom: 40px;
}

.margin0 {
  margin: 0;
}

.padding-t15 {
  padding-top: 15px;
}

.padding-l15 {
  padding-left: 15px;
}

.padding-r15 {
  padding-right: 15px;
}

.padding-b15 {
  padding-bottom: 15px;
}

.margin-t15 {
  margin-top: 15px;
}

.margin-b15 {
  margin-bottom: 15px;
}

.margin-b30 {
  margin-bottom: 30px;
}

.margin-l15 {
  margin-left: 15px;
}

.margin-r15 {
  margin-right: 15px;
}

.fullwidth {
  width: 100%;
}

.divcenter {
  margin: 0 auto;
}

.position-relative {
  position: relative;
}
/*# sourceMappingURL=style.css.map */